mat-toolbar img{
    height: 150px;
    width: 200px;
    padding: 0%;
    margin: 0%;
}
mat-toolbar{
    background-color: black;
    color: white;
}
mat-toolbar .login{
    padding: 0%;
    margin: 0%;
}


  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }


.openbook{
  width: 100%;
}
