<div >
  <mat-toolbar class="navbar_header">

     <div  fxLayoutAlign="start" >
         <img src="./assets/images.png" class='responsive openbook'>
     </div>


      <div >
      <a mat-button class="">Services</a>
      <a mat-button class="">Reviews</a>
      <a mat-button class="">Plans</a>
      <a mat-button class="">About Us</a>
      <a mat-button class="">Contact Us</a>
      </div>

    </mat-toolbar>
</div>


        <div>
            <div>
                  <div class="carousel-inner">

                    <img src="https://goodereader.com/blog/uploads/images/https-_specials-images.forbesimg.com_dam_imageserve_794015686_960x0.jpg-fitscale.jpg" class="responsive img-fluid w-100" alt="book">
                    <div class="carousel-caption mx-auto">
                    </div>
                  </div>
            </div>
        </div>
