.navbar_header{
  position: fixed;
  z-index: 100;
}
.openbook{
    min-height: 4em;
    height: 5em;
    width: 10em;
    padding: 0%;
    margin: 0%;
    z-index: 101;
    min-width: 4em;
    border-radius: 0.5em;
}
mat-toolbar{
    background-color: black;
    color: white;
}
a{
  padding: 0px;
  margin: 0px;
}

.openbook{
  width: 100%;
}
