
.responsive {
  min-height: 320px;
  max-height: 320px;

}
.curved{

  width: 100%;
  background-color: black;
}
.curved svg{
display: block;
margin-bottom: 0px;
padding-bottom: 0px;
padding-bottom: 0px;
}

.carousel-caption h2{
  margin-bottom: 0em;
  padding-bottom: 0em;
}
.carousel-caption h4{
  margin-bottom: 3em;
}
.carousel-caption p{
  margin-bottom: 6em;
}
.reviewHeading{
  font-size: calc(1.4em + 1vw);

}
.review{
  padding: 1em 0em;
  background-color:#0099ff;
}
.example-card {
  max-width: 100%;
}


.center {
  margin: auto;
  width: 50%;
}
