<div class="container">
  <mat-card class="col-sm-6">
    <mat-card-title>TITLE</mat-card-title><hr>
    <mat-card-subtitle>SUBTITLE</mat-card-subtitle><hr>
    <mat-card-content>CONTENT</mat-card-content>
    <mat-card-footer>FOOTER</mat-card-footer>
  </mat-card>
  <mat-card  class="col-sm-6">
    <mat-card-title>TITLE</mat-card-title><hr>
    <mat-card-subtitle>SUBTITLE</mat-card-subtitle><hr>
    <mat-card-content>CONTENT</mat-card-content>
    <mat-card-footer>FOOTER</mat-card-footer>
  </mat-card>

</div>
