mat-grid-tile {
  background: yellow;
}
.content .sec1, .sec2, .sec3{

  background-color: #FFB001;
}
.sec2{
  background-color: #c0c0c0;

}
.content{
  text-align: center;
  padding: 1em;
}
.content h1,h2{
  padding: 0px;
  margin: 0px;
}
.content h1{
  font-weight:bold;
  color: white;
}
.mat-headline{
  font-size: calc(1.4em + 1vw);
  margin-top: calc(0.3em + 1vw);
  margin-bottom:  0px;
  font-weight: bolder;
}
