<div class="mat-headline text-center">OUR HAPPY CUSTOMERS</div>
<div class="happyCutomer">

  	<div class="content " fxLayout="row" fxLayout.xs="row" fxFlexFill>

  		<div fxFlex="100" class="sec1" fxFlex.xs="100">
        <h2>Over</h2>
        <h1>2500</h1>
        <h2>Cutomer</h2>
  		</div>
  		<div fxFlex="100" class="sec2" fxFlex.xs="100">
        <h2>In</h2>
        <h1>30</h1>
        <h2>Colleges</h2>
  		</div>
  		<div fxFlex="100" class="sec3" fxFlex.xs="100">
        <h2>Provided</h2>
        <h1>30000</h1>
        <h2>Books</h2>
  		</div>


  </div>



</div>
