<div id="plans">
  <h1 class="planHeading text-center">Plans</h1>

  <div class="container-fluid row text-center mx-auto justify-content-center" >

    <mat-card [class.mat-elevation-z2]="!isActive"
    [class.mat-elevation-z20]="isActive" (click)="isActive = !isActive" (mouseover)="isActive=true" (mouseout)="isActive=false" class="col-xs-5">
      <mat-card-title>Basic</mat-card-title><hr>
      <mat-card-subtitle>Rs. 2000, Subscription Fee</mat-card-subtitle><hr>
      <mat-card-content>₹ 500/Sem</mat-card-content>
      <mat-card-content>Refurbished Books</mat-card-content>
      <mat-card-content>Unlimited Books</mat-card-content>
      <mat-card-content>Free Exchange And Delivery</mat-card-content><hr>
      <mat-card-actions>
        <button [class.mat-elevation-z2]="!isActive"
        [class.mat-elevation-z20]="isActive" mat-button  class="button">Buy This Subscription</button>
      </mat-card-actions>
    </mat-card>
    <mat-card [class.mat-elevation-z2]="!isActive2"
    [class.mat-elevation-z20]="isActive2" (click)="isActive2 = !isActive2" (mouseover)="isActive2=true" (mouseout)="isActive2=false" class="col-xs-5">
      <mat-card-title>PRO</mat-card-title><hr>
      <mat-card-subtitle>Rs. 4000, Subscription Fee</mat-card-subtitle><hr>
      <mat-card-content>₹ 1500/Sem</mat-card-content>
      <mat-card-content>New Books</mat-card-content>
      <mat-card-content>Unlimited Books</mat-card-content>
      <mat-card-content>Free Exchange and Delivery</mat-card-content><hr>
      <mat-card-actions>
        <button [class.mat-elevation-z2]="!isActive2"
        [class.mat-elevation-z20]="isActive2" mat-button class="button">Buy This Subscription</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
