.msg-to-parents p{
    font-size: larger;
    font-weight: 400;
    font-style: italic;
    font-family: cursive;
    color: rgb(14, 10, 2);
}
.msg-to-parents h1{
    font-size: calc(1.4em + 1vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.message_parent{
    border: 2em;
    border-radius: 2em;
    border-color: black;
    background-color: #c0c0c0;
    padding: 1em;
}
.outside_msgParent{
  margin-right: 10em!important;
  margin-top: 2em;
}
