<div >
   <div class="container jumbotron message_parent"
   fxLayout="row"
   fxLayout.sm="column" 
   fxLayout.xs="column" 

   fxLayoutAlign.xs="start center"
   fxLayoutAlign.sm="start center" 
   fxLayoutGap="10px">  
         <div class="msg-to-parents">
            <h1>Message To Parents</h1>
            <p style="font-size: xx-large; font-weight: bolder;">"</p>
            <p><i><b>Learning</b> is pivotal for a student’s success in academics and life.The digital age is deeply shaping the way students learn and will also determine their future prospects but it’s no match for good old books.</i> </p>
            <p><i> BUT, sometimes it could be hard on the pocket of students.This is where we come in As parents, you understand better why a student needs books.Gift our subscription to your child and help them get a load off their back. Take a look at our subscription prices, ping us and we will get back to you.
      </i> </p>
   
            <p style="font-size: xx-large; font-weight: bolder; ">"</p>
   
          </div>
          <div fxLayout >
            <img src="./assets/studs.png"  height="450" width="100%" alt="book">
   
          </div>
         
   </div></div>