<header>
	<div class="overlay">
<h1>How the process works?</h1>

<br>

		</div>
</header>



<mat-grid-list cols="5" rowHeight="3:3">
 <mat-grid-tile >

<i class="material-icons orange600 md-48 ">mobile_screen_share</i>
<mat-grid-tile-footer [style.background]="'	#ffffff'" ><font color="black" size="+3"><b>Make Online Payment of Rs 2000</b></font></mat-grid-tile-footer><br>
<mat-divider [vertical]="true"></mat-divider>
</mat-grid-tile>



  <mat-grid-tile>
  <i class="material-icons orange600 md-48 ">book</i>
  <br>
  <mat-grid-tile-footer [style.background]="'	#ffffff'"  ><font color="black" size="+3"><b>Get 5 Books at your door</b></font><</mat-grid-tile-footer>
<mat-divider [vertical]="true"></mat-divider>
</mat-grid-tile>



  <mat-grid-tile>
<i class="material-icons orange600 md-48 ">repeat</i>
<mat-grid-tile-footer [style.background]="'	#ffffff'"  ><font color="black" size="+3"><b>Exchange them when you are done,for free!</b></font><</mat-grid-tile-footer><br>
<mat-divider [vertical]="true"></mat-divider>
</mat-grid-tile>


  <mat-grid-tile>
  <i class="material-icons orange600 md-48 ">local_shipping</i>
  <mat-grid-tile-footer  [style.background]="'	#ffffff'" ><font color="black" size="+3"><b>We will pick them up</b></font><</mat-grid-tile-footer><br>
  <mat-divider [vertical]="true"></mat-divider>
  </mat-grid-tile>



  <mat-grid-tile>
  <i class="material-icons orange600 md-48 ">check</i>
  <mat-grid-tile-footer  [style.background]="'	#ffffff'" ><font color="black" size="+3"><b>All just for Rs 500 per semester</b></font><</mat-grid-tile-footer><br>
  <mat-divider [vertical]="true"></mat-divider>
  </mat-grid-tile>

</mat-grid-list>
